@using MyNetSensors.NodesTasks
@model MyNetSensors.NodesTasks.NodeTask

@{
    ViewBag.Title = "Edit Task for " + @ViewBag.description;

    string repeatingPanelDisplay = Model.isRepeating ? "" : "display: none";
    string nonRepeatingPanelDisplay = Model.isRepeating ? "display: none" : "";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>
    <div>
        < <a asp-controller="Gateway" asp-action="Control">Control Nodes</a>
        < <a asp-controller="Tasks" asp-action="List">Tasks</a>
    </div>
    <div class="ui divider"></div>

    <div class="ui two column stackable centered grid">
        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary segment">
                    <h4>Edit Task @Model.Id</h4>
                </div>

                <form asp-action="Edit" asp-anti-forgery="true" class="ui form">
                    <div class="ui attached segment">

                        <input type="hidden" asp-for="nodeId" />
                        <input type="hidden" asp-for="sensorId" />
                        <input type="hidden" asp-for="sensorDbId" />
                        <input type="hidden" asp-for="sensorDescription" />
                        <input type="hidden" asp-for="dataType" />
                        <input type="hidden" asp-for="enabled" />
                        <input type="hidden" asp-for="Id" />

                        <div class="validation" asp-validation-summary="ValidationSummary.All"></div>

                        <div class="field">
                            <label>Task description</label>
                            <input type="text" asp-for="description">
                        </div>

                        <div class="field">
                            <label>Execution date</label>
                            <input type="text" asp-for="executionDate">
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                @if (Model.isRepeating)
                                {
                                    <input type="checkbox" name="isRepeating" checked>
                                }
                                else
                                {
                                    <input type="checkbox" name="isRepeating">
                                }
                                <input type="hidden" name="isRepeating" value="false">
                                <label>Repeat task</label>
                            </div>
                        </div>





                        <div id="nonRepeatingPanel" style="@nonRepeatingPanelDisplay">
                            <div class="field">
                                <label>Set value</label>
                                <input type="text" asp-for="executionValue">
                            </div>
                        </div>

                        <div id="repeatingPanel" style="@repeatingPanelDisplay">
                            <div class="fields">
                                <div class="field">
                                    <label>Repeat A value</label>
                                    <input type="text" asp-for="repeatingAValue">
                                </div>

                                <div class="field">
                                    <label>Repeat B value</label>
                                    <input type="text" asp-for="repeatingBValue">
                                </div>
                            </div>
                            <div class="fields">

                                <div class="field">
                                    <label>Repeat count (0 for infinity)</label>
                                    <input type="text" asp-for="repeatingNeededCount">
                                </div>

                                <div class="field">
                                    <label>Repeat interval (ms)</label>
                                    <input type="text" asp-for="repeatingInterval">
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="ui center aligned attached segment">
                        <div class="ui centered  buttons">
                            <a asp-controller="Tasks" asp-action="List" class="ui button">Cancel</a>
                            <input type="submit" value="Save" class="ui primary button" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>




@section scripts
{

    <script>
        var fade = 500;


        $("[name=isRepeating]").click(function () {
            if ($(this).is(":checked")) {
                $('#repeatingPanel').fadeIn(fade);
                $('#nonRepeatingPanel').hide();
            } else {
                $('#repeatingPanel').hide();
                $('#nonRepeatingPanel').fadeIn(fade);
            }
        });

        $(function () {
            $('[name=executionDate]').daterangepicker({
                format: 'DD.MM.YYYY HH:mm:ss',
                "singleDatePicker": true,
                "timePicker": true,
                "timePickerIncrement": 1,
                "timePicker12Hour": false,
                "timePickerSeconds": true
            });
        });
    </script>
}
