@using MyNetSensors.NodesTasks
@model IEnumerable<MyNetSensors.NodesTasks.NodeTask>


@{
    ViewBag.Title = "Tasks";
}

@if (@ViewBag.description == null)
{
    <h2>Tasks</h2>
}
else
{
    <h2>Tasks for @ViewBag.description</h2>
}

<p>
    < @Html.ActionLink("Control Nodes", "Control", "Gateway")
    @if (ViewBag.description!=null)
    {
       @: | @Html.ActionLink("Show tasks for all nodes", "Index", "Tasks")
    }
</p>
<hr />



<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right" style="margin-top: -7px">
            @Html.ActionLink("New task", "New", new { id = ViewBag.nodeId, id2 = ViewBag.sensorId }, new { @class = "btn btn-default" })
        </div>
        Tasks
    </div>

    <div class="panel-body">
        @if (Model == null || Model.Count() == 0)
            {
            @:No tasks
            }
            else
            {
            <ul class="list-group">
                @foreach (var task in Model)
                {
                    <li class="list-group-item">
                        <p class="list-group-item-text">
                            <h4 class="list-group-item-heading">
                                Task @task.db_Id
                                @if (task.description != null)
                                {
                                    @: : @task.description
                                }
                            </h4>
                            <div class="btn-group pull-right">
                                @if (!task.isCompleted)
                                {
                                    if (task.enabled)
                                    {
                                        @Html.ActionLink("Disable", "Disable", new {id = task.db_Id})
                                        @: |
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Enable", "Enable", new {id = task.db_Id})
                                        @: |
                                    }

                                    if (task.isRepeating)
                                    {
                                        @Html.ActionLink("Restart", "ExecuteNow", new {id = task.db_Id})
                                        @: |
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Execute", "ExecuteNow", new {id = task.db_Id})
                                        @: |
                                    }
                                }
                                else
                                {
                                    if (task.isRepeating)
                                    {
                                        @Html.ActionLink("Restart", "ExecuteNow", new {id = task.db_Id})
                                        @: |
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Execute", "ExecuteNow", new {id = task.db_Id})
                                        @: |
                                    }
                                }
                                @Html.ActionLink("Edit", "Edit", new {id = task.db_Id}) |
                                @Html.ActionLink("Delete", "Delete", new {id = task.db_Id})
                            </div>



                            @if (task.isCompleted)
                            {
                                <h5><span class="label label-success">Completed</span></h5>
                            }
                            else if (!task.enabled)
                            {
                                <h5><span class="label label-default">Disabled</span></h5>
                            }
                            else
                            {
                                <h5><span class="label label-primary">Active</span></h5>
                            }


                            @task.sensorDescription<br>

                            Execution date: @task.executionDate<br>
                            Set value:@task.executionValue<br>
                            @if (task.isRepeating)
                            {
                                @:Repeat values: @task.repeatingAValue / @task.repeatingBValue<br>
                                @:Repeat interval: @task.repeatingInterval<br>
                                @:Executions done:@task.repeatingDoneCount<br>
                                if (task.repeatingNeededCount > 0)
                                {
                                    @:Executions left:@(task.repeatingNeededCount - task.repeatingDoneCount)<br>
                                }

                            }
                        </p>
                    </li>
                }
            </ul>
            <div class="btn-group pull-right" style="margin-top: -10px">
                @Html.ActionLink("Delete completed", "DeleteCompleted", new { id = ViewBag.nodeId, id2 = ViewBag.sensorId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete all", "DeleteAll", new { id = ViewBag.nodeId, id2 = ViewBag.sensorId }, new { @class = "btn btn-primary" })
            </div>
        }

        <br />
    </div>

</div>
