@model IEnumerable<MyNetSensors.NodeTasks.SensorTask>


@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>
<h4>@ViewBag.description</h4>
<hr />

<p>

    @Html.ActionLink("Back to control nodes", "Control", "Gateway")
</p>



<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right" style="margin-top: -7px">
            @Html.ActionLink("New task", "New", new { id1 = ViewBag.nodeId, id2 = ViewBag.sensorId }, new { @class = "btn btn-default" })
        </div>
        Tasks
    </div>

    <div class="panel-body">
        @if (Model == null || Model.Count() == 0)
            {
            @:No scheduled tasks.
            }
            else
            {
            <ul class="list-group">
                @foreach (var task in Model)
                {
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">@task.description</h4>
                        <p class="list-group-item-text">
                            <div class="btn-group pull-right">
                                @if (!task.isCompleted)
                                {
                                    if (task.enabled)
                                    {
                                        @Html.ActionLink("Disable", "Disable", new { id = task.db_Id })
                                        @: |
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Enable", "Enable", new { id = task.db_Id })
                                        @: |
                                    }

                                    if (task.isRepeating)
                                    {
                                        @Html.ActionLink("Restart", "ExecuteNow", new { id = task.db_Id })
                                        @: |
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Execute", "ExecuteNow", new { id = task.db_Id })
                                        @: |
                                    }
                                }
                                else
                                {
                                    if (task.isRepeating)
                                    {
                                        @Html.ActionLink("Restart", "ExecuteNow", new { id = task.db_Id })
                                        @: |
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Execute", "ExecuteNow", new { id = task.db_Id })
                                        @: |
                                    }
                                }
                                @Html.ActionLink("Edit", "Edit", new { id = task.db_Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = task.db_Id })
                            </div>
                            @if (task.isCompleted)
                            {
                                @:Completed
                            }
                            else
                            {
                                if (!task.enabled)
                                {
                                <p class="text-danger"> Task disabled <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></p>
                                }
                                @:Execution date: @task.executionDate<br>
                                if (!task.isRepeating)
                                {
                                    @:Set value:@task.executionValue<br>
                                }
                                else
                                {
                                    @:Next value:@task.executionValue<br>
                                    @:Interval: @task.repeatingInterval<br>
                                    @:Executions done:@task.repeatingDoneCount<br>
                                    if (task.repeatingNeededCount > 0)
                                    {
                                        @:Executions left:@(task.repeatingNeededCount - task.repeatingDoneCount)<br>
                                    }

                                }
                            }

                            </p>
                        </li>
                }
            </ul>
            <div class="btn-group pull-right" style="margin-top: -10px">
                @Html.ActionLink("Delete completed", "DeleteCompleted", new { id1 = ViewBag.nodeId, id2 = ViewBag.sensorId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete all", "DeleteAll", new { id1 = ViewBag.nodeId, id2 = ViewBag.sensorId }, new { @class = "btn btn-primary" })
            </div>
        }

        <br />
    </div>

</div>
