@using MyNetSensors.Gateway

@{
    ViewBag.Title = "New Link";
}

<h2>New Task</h2>
<div>
    < @Html.ActionLink("Control Nodes", "Control","Gateway")
    < @Html.ActionLink("Tasks", "List")
</div>
<hr />
<br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-sm-3">Select sensor</label>
            <div class="col-sm-7">
                <select class="selectpicker form-control" name="sensor">
                    @foreach (Node node in ViewBag.nodes)
                    {
                        <optgroup label="@node.GetSimpleName1()">
                            @foreach (Sensor sensor in node.sensors)
                            {
                                    <option value="@node.nodeId-@sensor.sensorId">@sensor.GetSimpleName1()</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <div class="btn-group">
                    <input type="submit" value="Select" class="btn btn-primary" />
                    <a asp-action="List" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    </div>
}



@section scripts
{
    <script>
        $('.selectpicker').selectpicker();
    </script>
}