@using MyNetSensors.Nodes
@model MyNetSensors.Nodes.UITimerTask

@{
    ViewBag.Title = ViewBag.Name;

    string repeatingPanelDisplay = Model.IsRepeating ? "" : "display: none";
    string nonRepeatingPanelDisplay = Model.IsRepeating ? "display: none" : "";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>
    <div>
        < <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        < <a asp-controller="UITimer" asp-action="Tasks" asp-route-id="@Model.NodeId">Tasks</a>
    </div>
    <div class="ui divider"></div>

    <div class="ui two column stackable centered grid">
        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary segment">
                    <h4>Edit Task @Model.Id</h4>
                </div>

                <form asp-action="Edit" asp-anti-forgery="true" class="ui form">
                    <div class="ui attached segment">

                        <input type="hidden" id="Id" name="Id" value=@Model.Id />
                        <input type="hidden" id="TaskId" name="TaskId" value=@Model.Id />
                        <input type="hidden" asp-for="NodeId" />
                        <input type="hidden" asp-for="Enabled" />

                        <div class="validation" asp-validation-summary="ValidationSummary.All"></div>

                        <div class="field">
                            <label>Task description</label>
                            <input type="text" asp-for="Description">
                        </div>

                        <div class="field">
                            <label>Execution date</label>
                            <input type="text" asp-for="ExecutionDate">
                        </div>

                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="IsRepeating">
                                <label>Repeat task</label>
                            </div>
                        </div>





                        <div id="nonRepeatingPanel" style="@nonRepeatingPanelDisplay">
                            <div class="field">
                                <label>Set value</label>
                                <input type="text" asp-for="ExecutionValue">
                            </div>
                        </div>

                        <div id="repeatingPanel" style="@repeatingPanelDisplay">
                            <div class="fields">
                                <div class="field">
                                    <label>Repeat A value</label>
                                    <input type="text" asp-for="RepeatingAValue">
                                </div>

                                <div class="field">
                                    <label>Repeat B value</label>
                                    <input type="text" asp-for="RepeatingBValue">
                                </div>
                            </div>
                            <div class="fields">

                                <div class="field">
                                    <label>Repeat count (0 for infinity)</label>
                                    <input type="text" asp-for="RepeatingNeededCount">
                                </div>

                                <div class="field">
                                    <label>Repeat interval (ms)</label>
                                    <input type="text" asp-for="RepeatingInterval">
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="ui center aligned attached segment">
                        <div class="ui centered  buttons">
                            <a asp-action="Tasks" asp-route-id="@Model.NodeId" class="ui button">Cancel</a>
                            <input type="submit" value="Save" class="ui primary button" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>




@section scripts
{

    <script>
        var fade = 500;


        $("#IsRepeating").click(function () {
            if ($(this).is(":checked")) {
                $('#repeatingPanel').fadeIn(fade);
                $('#nonRepeatingPanel').hide();
            } else {
                $('#repeatingPanel').hide();
                $('#nonRepeatingPanel').fadeIn(fade);
            }
        });

        $(function () {
            $('#ExecutionDate').daterangepicker({
                format: 'DD.MM.YYYY HH:mm:ss',
                "singleDatePicker": true,
                "timePicker": true,
                "timePickerIncrement": 1,
                "timePicker12Hour": false,
                "timePickerSeconds": true
            });
        });
    </script>
}
