

@{
    ViewBag.Title = "Sensor graph";
}

<h2>@ViewBag.description History</h2>

<h3>
    <small>@Html.Raw("Node" + ViewBag.nodeId + " Sensor" + ViewBag.sensorId)</small>

    <div class="btn-group pull-right" role="group" aria-label="...">
        <a class='btn btn-default' href='../../../Gateway/Control'>
            Control Nodes
        </a>
        <a class='btn btn-default' href='../../Log/@ViewBag.nodeId/@ViewBag.sensorId'>
            History Log
        </a>
    </div>
</h3>
<br />


<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.description History</div>
    <div class="panel-body">
        <div id="chartPanel" style="display: none;">
            <div id="visualization"></div>
            <p>
                <br />


                <div class="btn-group" role="group" >
                    <div class="btn-group" role="group" style="padding-right: 10px;">
                        <label for="autoscroll">Auto scroll:</label>
                        <select id="autoscroll">
                            <option value="none" selected>None</option>
                            <option value="continuous">Continuous</option>
                            <option value="discrete">Discrete</option>
                            <option value="static">Static</option>
                        </select>
                    </div>
                    <div class="btn-group" role="group" style="padding-right: 10px;">
                        <label for="charttype">Style:</label>
                        <select id="charttype" onchange="updateCharType()">
                            <option value="bars" selected>Bars</option>
                            <option value="splines">Splines</option>
                            <option value="shadedsplines">Shaded Splines</option>
                            <option value="lines">Lines</option>
                            <option value="shadedlines">Shaded Lines</option>
                            <option value="dots">Dots</option>
                        </select>
                    </div>
                </div>
                <div class="btn-group pull-right" role="group">
                    <button type="button" class='btn btn-default' onclick="showAll()">
                        All
                    </button>
                    <button type="button" class='btn btn-default' onclick="showNow()">
                        Now
                    </button>
                    <button type="button" class='btn btn-default' onclick="share()">
                        Share
                    </button>
                    <a class='btn btn-default' href='../../ClearHistoryByDbId/@ViewBag.db_Id'>
                        Clear
                    </a>
                </div>
            </p>
        </div>
        <div id="infoPanel">
            Requesting data...
        </div>
    </div>
</div>


<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Share history</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="url" class="control-label" >URL:</label>
                        <input type="text" class="form-control" id="url" style="max-width: 100%;">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/Content/noty")
    @Styles.Render("~/Content/visjs")
}



@section scripts
{
    @Scripts.Render("~/bundles/visjs")
    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>


    <script type="text/javascript">
        var dbId = '@ViewBag.db_Id';
        var sensorId = '@ViewBag.sensorId';
        var nodeId = '@ViewBag.nodeId';

        var urlStart = @ViewBag.start;
        var urlEnd = @ViewBag.end;

        @if (@ViewBag.autoscroll != null)
        {
            @:$("#autoscroll").val('@ViewBag.autoscroll');
        }

        @if (@ViewBag.style != null)
        {
            @:$("#charttype").val('@ViewBag.style');
        }


    </script>

    @Scripts.Render("~/bundles/mynetsensors-history-chart-live-page")
}