

@{
    ViewBag.Title = "Sensor graph";
}

<h2>@ViewBag.description History</h2>

<h3>
    <small>Node<span>@ViewBag.nodeId</span> Sensor<span>@ViewBag.sensorId</span></small>
    <div class="btn-group pull-right" role="group" aria-label="...">
        <a class='btn btn-default' href='../../../Gateway/Control'>
            Control Nodes
        </a>
        <a class='btn btn-default' href='../../Log/@ViewBag.nodeId/@ViewBag.sensorId'>
            History Log
        </a>
    </div>
</h3>
<br />


<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.description History</div>
    <div class="panel-body">
        <div id="chartPanel" style="display: none;">
            <div id="visualization"></div>
            <p>
                <br />
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a class='btn btn-default' href='../../ClearHistoryByDbId/@ViewBag.db_Id'>
                        Clear History
                    </a>
                </div>

                <label for="update">Update:</label>
                <select id="update">
                    <option value="none" selected>None</option>
                    <option value="continuous">Continuous</option>
                    <option value="discrete">Discrete</option>
                    <option value="static">Static</option>
                </select>

                <label for="charttype">Style:</label>
                <select id="charttype" onchange="updateCharType()">
                    <option value="bars" selected>Bars</option>
                    <option value="splines">Splines</option>
                    <option value="shadedsplines">Shaded Splines</option>
                    <option value="lines">Lines</option>
                    <option value="shadedlines">Shaded Lines</option>
                    <option value="dots">Dots</option>
                </select>
            </p>
        </div>
        <div id="infoPanel">
            Requesting data...
        </div>
    </div>
</div>




@section styles
{
    @Styles.Render("~/Content/noty")
    @Styles.Render("~/Content/visjs")
}



@section scripts
{
    @Scripts.Render("~/bundles/visjs")
    @Scripts.Render("~/bundles/noty")




    <script type="text/javascript">
        var dbId = '@ViewBag.db_Id';
    </script>

    @Scripts.Render("~/bundles/mynetsensors-history-chart-live-page")

}