@using WebGridBootstrapPager
@model List<MyNetSensors.SerialGateway.SensorData>

@{
    ViewBag.Title = "Sensor log";
}

<h2>Node<span>@ViewBag.nodeId</span> Sensor<span>@ViewBag.sensorId</span></h2>


@{
    var grid = new WebGrid(Model, rowsPerPage: 100);
}



@grid.Table(
    tableStyle: "table table-striped table-hover",
        columns: grid.Columns(
             grid.Column(columnName: "dateTime", header: "Date"),
             grid.Column(columnName: "state", header: "State")
        ))


@grid.BootstrapPager()

@section styles
{
    @Styles.Render("~/Content/font-awesome")
}
