@model IEnumerable<MyNetSensors.NodesLinks.SensorLink>


@{
    ViewBag.Title = "Links";
}

@if (@ViewBag.description == null)
{
    <h2>Links</h2>
}
else
{
    <h2>Links for @ViewBag.description</h2>
}

<p>
    < @Html.ActionLink("Control Nodes", "Control", "Gateway")
    @if (ViewBag.description != null)
    {
        @: | @Html.ActionLink("Show links for all nodes", "Index", "Links")
    }
</p>
<hr />



<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right" style="margin-top: -7px">
            @Html.ActionLink("New link", "New", new { id1 = ViewBag.nodeId, id2 = ViewBag.sensorId }, new { @class = "btn btn-default" })
        </div>
        Links
    </div>

    <div class="panel-body">
        @if (Model == null || Model.Count() == 0)
            {
            @:No links
            }
            else
            {
            <ul class="list-group">
                @foreach (var link in Model)
                {
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                           
                        </h4>
                        <p class="list-group-item-text">
                            <div class="btn-group pull-right">
                                @Html.ActionLink("Delete", "Delete", new { id = link.db_Id })
                            </div>
                                <b>From:</b> @link.fromSensorDescription<br>
                                <b>To:</b> @link.toSensorDescription<br>
                            </p>
                        </li>
                }
            </ul>
            <div class="btn-group pull-right" style="margin-top: -10px">
                @Html.ActionLink("Delete all", "DeleteAll", new { id1 = ViewBag.nodeId, id2 = ViewBag.sensorId }, new { @class = "btn btn-primary" })
            </div>
        }

        <br />
    </div>

</div>
