@using MyNetSensors.Gateway
@model MyNetSensors.NodesLinks.SensorLink


@{
    ViewBag.Title = "New Link";
}

<h2>New Link</h2>
<h4>@ViewBag.description</h4>
<hr />

<div>
    @if (Model != null)
    {
        @Html.ActionLink("Back to Links List", "List", new { id1 = Model.toNodeId, id2 = Model.toSensorId })
    }
    else
    {
        @Html.ActionLink("Back to Links List", "List")
    }
</div>
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.toNodeId)
    @Html.HiddenFor(model => model.toSensorId)


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-sm-3">From</label>
            <div class="col-sm-9">
                <select class="selectpicker" name="from">
                    @foreach (Node node in ViewBag.from)
                    {
                        <optgroup label="@node.GetSimpleName1()">
                            @foreach (Sensor sensor in node.sensors)
                            {
                                List<SensorData> datas = sensor.GetAllData();

                                if (datas.Count == 1)
                                {
                                    <option value="@node.nodeId-@sensor.sensorId-@((int) datas[0].dataType)">@sensor.GetSimpleName1()</option>
                                }
                                else
                                {
                                    foreach (SensorData data in datas)
                                    {
                                        <option value="@node.nodeId-@sensor.sensorId-@((int) data.dataType)">@sensor.GetSimpleName1() [@data.dataType]</option>
                                    }
                                }
                            }
                        </optgroup>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">To</label>
            <div class="col-sm-9">
                <select class="selectpicker" name="to">
                    @foreach (Node node in ViewBag.to)
                    {
                        <optgroup label="@node.GetSimpleName1()">
                            @foreach (Sensor sensor in node.sensors)
                            {
                                List<SensorData> datas = sensor.GetAllData();
                                if (datas.Count == 1)
                                {
                                    <option value="@node.nodeId-@sensor.sensorId-@((int) datas[0].dataType)">@sensor.GetSimpleName1()</option>
                                }
                                else
                                {
                                    foreach (SensorData data in datas)
                                    {
                                        <option value="@node.nodeId-@sensor.sensorId-@((int) data.dataType)">@sensor.GetSimpleName1() [@data.dataType]</option>
                                    }
                                }
                            }
                        </optgroup>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="btn-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    @if (Model != null)
                    {
                        @Html.ActionLink("Cancel", "List", new { id1 = Model.toNodeId, id2 = Model.toSensorId }, new { @class = "btn btn-default" })
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "List", null, new { @class = "btn btn-default" })
                    }
                </div>
            </div>
        </div>
    </div>
}



@section styles
{
    @Styles.Render("~/Content/select")


}

@section scripts
{
    @Scripts.Render("~/bundles/select")

    <script>

        $('.selectpicker').selectpicker();

    </script>
}