@using MyNetSensors.Gateway
@model MyNetSensors.NodesLinks.SensorLink


@{
    ViewBag.Title = "New Link";
}

@if (@ViewBag.description == null)
{
    <h2>New Link</h2>
}
else
{
    <h2>New Link for @ViewBag.description</h2>
}

<p>
    < @Html.ActionLink("Control Nodes", "Control", "Gateway")
    @if (ViewBag.description != null)
    {
        @: < @Html.ActionLink("Links", "List", new { id = Model.toNodeId, id2 = Model.toSensorId })
    }
    else
    {
        @: < @Html.ActionLink("Links", "List")
    }
</p>
<hr />

<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.toNodeId)
    @Html.HiddenFor(model => model.toSensorId)


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-sm-3">From</label>
            <div class="col-sm-9">
                <select class="selectpicker" name="from">
                    @foreach (Node node in ViewBag.from)
                    {
                        <optgroup label="@node.GetSimpleName1()">
                            @foreach (Sensor sensor in node.sensors)
                            {
                                <option value="@node.nodeId-@sensor.sensorId-@((int) sensor.dataType)">@sensor.GetSimpleName1()</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">To</label>
            <div class="col-sm-9">
                <select class="selectpicker" name="to">
                    @foreach (Node node in ViewBag.to)
                    {
                        <optgroup label="@node.GetSimpleName1()">
                            @foreach (Sensor sensor in node.sensors)
                            {
                                <option value="@node.nodeId-@sensor.sensorId-@((int) sensor.dataType)">@sensor.GetSimpleName1()</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="btn-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    @if (Model != null)
                    {
                        @Html.ActionLink("Cancel", "List", new { id = Model.toNodeId, id2 = Model.toSensorId }, new { @class = "btn btn-default" })
                    }
                    else
                    {
                        <a asp-action="List" class="btn btn-default">Cancel</a>
                    }
                </div>
            </div>
        </div>
    </div>
}



@section scripts
{
    <script>
        $('.selectpicker').selectpicker();
    </script>
}