<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyNetSensors", "About", "Home", new { area = "" }, new { @class = "navbar-brand fadebefore" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Nodes Control", "NodesControl", "Gateway",null, new {@class= "fadebefore" })</li>
                    <li>@Html.ActionLink("Nodes View", "NodesView", "Gateway", null, new { @class = "fadebefore" })</li>
                    <li>@Html.ActionLink("Messages Log", "Log", "Gateway", null,new { @class = "fadebefore" })</li>
                    <li>@Html.ActionLink("Settings", "Settings", "Gateway", null, new { @class = "fadebefore" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "fadebefore" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="display: none;">
        @RenderBody()
        <hr />
        <footer id="footer" style="display: none;">
            <p>&copy; @DateTime.Now.Year - MyNetSensors</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)

<script>
    $('.body-content').fadeIn(700);
    $('#footer').fadeIn(700);

    $('.fadebefore').click(function() {
        var href = $(this).attr('href');

        // do animation
        $('.body-content').fadeOut(400, function() {
            // go to link when animation completes
            window.location = href;

        });

        // over ride browser following link when clicked
        return false;
    });
</script>
</body>
</html>
