
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet"/> 
        @RenderSection("styles", required: false)
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
        @RenderSection("styles", required: false)
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">MyNetSensors</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Gateway" asp-action="Control" class="fadebefore">Control</a></li>
                    <li><a asp-controller="Gateway" asp-action="Observe" class="fadebefore">Observe</a></li>
                    <li><a asp-controller="NodesEditor" asp-action="Index" class="fadebefore">Editor</a></li>
                    <li><a asp-controller="Logs" asp-action="System" class="fadebefore">Logs</a></li>
                    <li><a asp-controller="Gateway" asp-action="Settings" class="fadebefore">Settings</a></li>
                    <li><a asp-controller="Home" asp-action="About" class="fadebefore">About</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
        <script src="~/lib/noty/js/noty/packaged/jquery.noty.packaged.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/js/handlebars.js"></script>
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>

        <script asp-src-include="~/lib/signalr/jquery.signalr.js"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="~/lib/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
        <script src="~/lib/moment/min/moment.min.js"></script>
        <script src="~/js/handlebars.min.js"></script>
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        <script asp-src-include="~/lib/signalr/jquery.signalr.js"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>
    </environment>

    @RenderSection("scripts", required: false)

    <script>
        ////page fade animation
        //$('.body-content').fadeIn(700);
        //$('#footer').fadeIn(700);

        //$('.fadebefore').click(function () {
        //    var href = $(this).attr('href');

        //    // do animation
        //    $('.body-content').fadeOut(400, function () {
        //        // go to link when animation completes
        //        window.location = href;

        //    });

        //    // over ride browser following link when clicked
        //    return false;
        //});



        // noty settings
        $.noty.defaults.layout = 'bottomRight';
        $.noty.defaults.theme = 'relax';
        $.noty.defaults.timeout = 3000;
        $.noty.defaults.animation = {
            open: 'animated bounceInRight', // Animate.css class names
            close: 'animated flipOutX', // Animate.css class names
            easing: 'swing', // unavailable - no need
            speed: 500 // unavailable - no need
        };
    </script>
</body>
</html>
