@{
    if (ViewBag.panelId == null)
    {
        ViewBag.Title = "Dashboard";
    }
    else
    {
        ViewBag.Title = ViewBag.PanelName;
    }
}


<div class="ui container">
    <a asp-controller="NodesEditor" asp-action="Panel" asp-route-id="@ViewBag.panelId" class="ui button right floated">Editor</a>




    <h2>@ViewBag.Title</h2>
    <p>
        @if (ViewBag.panelId == null)
        {
            <a asp-action="List">Panels</a>
            @:|
            <a asp-controller="History" asp-action="List">History</a>
            @:|
            <a asp-controller="Tasks" asp-action="List">Tasks</a>
            @:|
            <a asp-controller="Node" asp-action="List">Settings</a>
        }
        else
        {
            @:<
            <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            @:<
            <a asp-action="List">Panels</a>

        }
    </p>
    <div class="ui divider"></div>

    <div class="ui message" id="empty-message" style="display:none">
        <p>
            @if (ViewBag.panelId == null)
            {
                @: Dashboard is empty. To create controls, go to the
                <a asp-controller="NodesEditor" asp-action="Index">Nodes Editor</a>
                @:.
            }
            else
            {
                @: Panel is empty. To create controls, go to the
                <a asp-controller="NodesEditor" asp-action="Panel" asp-route-id="@ViewBag.panelId">Nodes Editor</a>
                @:.
            }




        </p>


    </div>



    <div class="ui stackable centered grid" id="panelsContainer" style="display: none;">
    </div>

</div>
<br />




<script id="panelTemplate" type="text/x-handlebars-template">
    <div class="column" id="panel-{{PanelId}}" style="width:360px; max-width:360px">
        <div class="ui raised segments">

            <div class="ui secondary clearing segment">
                <b><span id="panelTitle-{{PanelId}}"></span></b>

                <div class="ui right floated basic disabled button nonbutton">
                    <i class="square outline icon" id="activity-{{PanelId}}"></i>
                    @*<img src="@Url.Content("~/images/nodes/activity.gif")" id="activity-{{PanelId}}" class="ui right floated" style="display: none;" />*@
                </div>
            </div>

            <div id="uiContainer-{{PanelId}}" class="content">
            </div>
        </div>
    </div>
</script>




<script id="labelTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="labelName-{{Id}}"></span>
        <div class="ui right floated basic disabled button nonbutton">
            <span class="ui blue basic label" id="labelValue-{{Id}}"></span>
        </div>
    </div>
</script>

<script id="stateTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="stateName-{{Id}}"></span>
        <div class="ui right floated basic disabled button nonbutton">
            <i class="big blue toggle on icon" id="state-on-{{Id}}" style="display:none"></i>
            <i class="big toggle off icon" id="state-off-{{Id}}" style="display:none"></i>
            <i class="big red toggle off icon" id="state-null-{{Id}}" style="display:none"></i>
        </div>
    </div>
</script>


<script id="textBoxTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="textBoxName-{{Id}}"></span>
        <div class="ui form text-box-form">
            <div class="ui field">
                <div class="ui small action input">
                    <input type="text" id="textBoxText-{{Id}}">
                    <button type="button" class="ui small button" id="textBoxSend-{{Id}}">Send</button>
                </div>
            </div>
        </div>
    </div>
</script>


<script id="logTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="logName-{{Id}}"></span>
        <button type="button" class="ui right floated tiny button" id="clear-log-{{Id}}">Clear</button>
        <br />
        <div class="ui segment" style="overflow-y: scroll; height: 150px;" id="log-{{Id}}"></div>
    </div>
</script>


<script id="progressTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="progressName-{{Id}}"></span>
        <div class="ui blue small progress" id="progressBar-{{Id}}">
            <div class="bar">
                <div class="progress"></div>
            </div>
        </div>
    </div>
</script>

<script id="buttonTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <button class="ui right floated small button" id="button-{{Id}}">
            &nbsp <span id="buttonName-{{Id}}"></span> &nbsp
        </button>
    </div>
</script>

<script id="toggleButtonTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <button class="ui right floated small toggle button" id="button-{{Id}}">
            &nbsp <span id="buttonName-{{Id}}"></span> &nbsp
        </button>
    </div>
</script>

<script id="switchTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="switchName-{{Id}}"></span>
        <div class="ui right floated basic  button nonbutton">
            <label class="switch">
                <input type="checkbox" class="switch-input" id="switch-{{Id}}">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
            </label>
        </div>
    </div>
</script>

<script id="sliderTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="sliderName-{{Id}}"></span>
        <br />
        <div id="slider-{{Id}}"></div>
    </div>
</script>


<script id="rgbSlidersTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="sliderName-{{Id}}"></span>
        <br />
        <div id="slider-{{Id}}-r" class="spacebottom"></div>
        <div id="slider-{{Id}}-g" class="spacebottom"></div>
        <div id="slider-{{Id}}-b"></div>
    </div>
</script>

<script id="rgbwSlidersTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="sliderName-{{Id}}"></span>
        <br />
        <div id="slider-{{Id}}-r" class="spacebottom"></div>
        <div id="slider-{{Id}}-g" class="spacebottom"></div>
        <div id="slider-{{Id}}-b" class="spacebottom"></div>
        <div id="slider-{{Id}}-w"></div>
    </div>
</script>


<script id="chartTemplate" type="text/x-handlebars-template">
    <div class="ui attached clearing segment" id="node-{{Id}}">
        <span id="chartName-{{Id}}"></span>
        <button type="button" class="ui right floated tiny button" id="clear-chart-{{Id}}">Clear</button>
        <br />

        <div id="visualization"></div>

    </div>
</script>


@section styles{
    <link href="~/lib/vis/dist/vis.min.css" rel="stylesheet" />
}


@section scripts
{
    <script>
        var this_panel_id = "@ViewBag.panelId";
    </script>
    <script src="~/js/mysensors.js"></script>
<script src="~/js/dashboard/mynetsensors-dashboard.js"></script>
<script src="~/js/dashboard/mynetsensors-dashboard-signalr.js"></script>
<script src="~/js/dashboard/mynetsensors-dashboard-slider.js"></script>
    <script src="~/js/dashboard/mynetsensors-dashboard-rgbsliders.js"></script>
<script src="~/lib/vis/dist/vis.min.js"></script>
}

