

@{
    ViewBag.Title = "Control Nodes";
}

<h2>Control Nodes</h2>
<div class="container">
    <div class="row" id="nodesContainer" style="display: none;">
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3" id="nodeTemplate" style="display: none;  min-width: 290px; max-width: 500px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="~/Content/Images/activity.gif" id="activity" class="pull-right" style="display: none;" />
                <div id="nodeTitle">

                </div>
            </div>

            <div class="panel-body">

                <span id="nodeBody"></span>
                <br />
                <ul class="list-group" id="sensorsContainer"></ul>
                @*<a href="#" class="btn btn-default btn-sm pull-right" role="button" id="settingsButton">
                        <span class='glyphicon glyphicon-menu-hamburger' aria-hidden='true'></span>
                    </a>*@
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle pull-right" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class='glyphicon glyphicon-menu-hamburger' aria-hidden='true'></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu" id="dropdownMenuList"></ul>
                </div>
            </div>

        </div>
    </div>
</div>

@section styles
{

    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/noty")
    @Styles.Render("~/Content/switch")
}

@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/switch")

    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/mysensors")
    @Scripts.Render("~/bundles/mynetsensors-control-page")

}

