

@{
    ViewBag.Title = "Nodes Control";
}

<h2>Nodes Control</h2>

<div class="row" id="nodesContainer" style="display: none;">
</div>

<div class="col-xs-12 col-sm-4 col-md-3" id="nodeTemplate" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <img src="~/Content/Images/activity.gif" id="activity" class="pull-right" style="display: none;" />
            <div id="nodeTitle">

            </div>
        </div>

        <div class="panel-body">
   
            <span id="nodeBody"></span>
            <br/>
            <ul class="list-group" id="sensorsContainer"></ul>
            <a href="#" class="btn btn-default btn-sm pull-right" role="button" id="settingsButton">
                <span class='glyphicon glyphicon-menu-hamburger' aria-hidden='true'></span>
            </a>
        </div>

    </div>
</div>


@section styles
{

    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-switch.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">

}

@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/switch")

    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/mysensors")
    @Scripts.Render("~/bundles/mynetsensors-control-page")


    <script>

    </script>
}

