@{
    ViewBag.Title = "Observe Nodes";
}

<h2>Observe Nodes</h2>

<div class="row" id="nodesContainer" style="display: none;">
</div>

<div class="col-xs-6 col-sm-4 col-md-3" id="nodeTemplate" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading" id="nodeTitle">
            Node title
        </div>
        <div class="panel-body">
            <span id="nodeBody">Node body</span>
            <br />
            <ul class="list-group" id="sensorsContainer"></ul>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/Content/noty")
}

@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/bundles/moment")

    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/mysensors")
    @Scripts.Render("~/bundles/mynetsensors-observe-page")

    <script>

    </script>
}


