@{
    ViewBag.Title = ViewBag.description + " History";
}

<div class="ui container">

    <a asp-action="Log" asp-route-id="@ViewBag.nodeId" asp-route-id2="@ViewBag.sensorId" class="ui button right floated">Show Log</a>

    <h2>@ViewBag.Title</h2>

    <p>
        < <a asp-controller="Gateway" asp-action="Control">Control Nodes</a>
        < <a asp-controller="History" asp-action="List">History</a>
    </p>
    <div class="ui divider"></div>





    <div class="ui raised segments">
        <div class="ui secondary clearing segment">
            <b>@ViewBag.description History</b>
            <button type="button" class='ui right floated small button' onclick="share()">
                <b>Share</b>
            </button>
            <a class='ui right floated small button' href='../../ClearHistory/@ViewBag.nodeId/@ViewBag.sensorId'>
                <b>Clear</b>
            </a>
        </div>
        <div class="ui segment">
            <div id="infoPanel">
                Requesting data...
            </div>
            <br />
            <div id="chartPanel" style="display: none;">
                <div id="visualization"></div>
                <br />



                <div class="ui form">
                    <div class="ui fields">
                        <div class="ui field">
                            <label>Auto scroll:</label>
                            <select id="autoscroll">
                                <option value="none" selected>None</option>
                                <option value="continuous">Continuous</option>
                                <option value="discrete">Discrete</option>
                                <option value="static">Static</option>
                            </select>
                        </div>

                        <div class="ui field">
                            <label>Style:</label>
                            <select id="charttype" onchange="updateCharType()">
                                <option value="bars" selected>Bars</option>
                                <option value="splines">Splines</option>
                                <option value="shadedsplines">Shaded Splines</option>
                                <option value="lines">Lines</option>
                                <option value="shadedlines">Shaded Lines</option>
                                <option value="dots">Dots</option>
                            </select>
                        </div>

                        <div class="ui field">
                            <br>

                            <div class="ui basic buttons">
                                <button type="button" class='ui button' onclick="showAll()">
                                    <b>Zoom All</b>
                                </button>
                                <button type="button" class='ui button' onclick="showNow()">
                                    <b>Zoom Now</b>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>


    <div class="ui modal" id="shareModal">
        <div class="header">
            Chart share URL
        </div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>URL:</label>
                    <textarea rows="3" id="url"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right button">
                OK
            </div>
        </div>
    </div>



</div>

@section styles{
    <link href="~/lib/vis/dist/vis.min.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/lib/vis/dist/vis.min.js"></script>

    <script type="text/javascript">
        var sensorId = '@ViewBag.sensorId';
        var nodeId = '@ViewBag.nodeId';

        var urlStart = @ViewBag.start;
        var urlEnd = @ViewBag.end;

        @if (@ViewBag.autoscroll != null)
        {
            @:$("#autoscroll").dropdown('set selected', "@ViewBag.autoscroll");
        }

        @if (@ViewBag.style != null)
        {
            @:$("#charttype").dropdown('set selected', "@ViewBag.style");
        }

        $('#autoscroll').dropdown();

        $('#charttype').dropdown();

    </script>

    <script src="~/js/mynetsensors-history-chart-page.js"></script>
}
