

@{
    ViewBag.Title = "Sensor graph";
}

<h2>@ViewBag.description History</h2>

<p>
    < @Html.ActionLink("Control Nodes", "Control", "Gateway")
    < @Html.ActionLink("History", "List", "History")
    @Html.ActionLink("Show Log", "Log", new { id = ViewBag.nodeId, id2 = ViewBag.sensorId }, new { @class = "btn btn-default pull-right" })
</p>
<hr />





<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.description History</div>
    <div class="panel-body">
        <div id="infoPanel">
            Requesting data...
        </div>
        <br/>
        <div id="chartPanel" style="display: none;">
            <div id="visualization"></div>
            <p>
                <br/>


                <div class="btn-group" role="group">
                    <div class="btn-group" role="group" style="padding-right: 10px;">
                        <label for="autoscroll">Auto scroll:</label>
                        <select id="autoscroll">
                            <option value="none" selected>None</option>
                            <option value="continuous">Continuous</option>
                            <option value="discrete">Discrete</option>
                            <option value="static">Static</option>
                        </select>
                    </div>
                    <div class="btn-group" role="group" style="padding-right: 10px;">
                        <label for="charttype">Style:</label>
                        <select id="charttype" onchange="updateCharType()">
                            <option value="bars" selected>Bars</option>
                            <option value="splines">Splines</option>
                            <option value="shadedsplines">Shaded Splines</option>
                            <option value="lines">Lines</option>
                            <option value="shadedlines">Shaded Lines</option>
                            <option value="dots">Dots</option>
                        </select>
                    </div>
                </div>
                <div class="btn-group pull-right" role="group">
                    <button type="button" class='btn btn-default' onclick="showAll()">
                        All
                    </button>
                    <button type="button" class='btn btn-default' onclick="showNow()">
                        Now
                    </button>

                    <button type="button" class='btn btn-default' onclick="share()">
                        Share
                    </button>
                    <a class='btn btn-default' href='../../ClearHistoryByDbId/@ViewBag.db_Id'>
                        Clear
                    </a>
                </div>
            </p>
        </div>
    </div>
</div>


<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Share history</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="url" class="control-label">URL:</label>
                        <input type="text" class="form-control" id="url" style="max-width: 100%;">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section styles{
    <link href="~/lib/vis/dist/vis.min.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/lib/vis/dist/vis.min.js"></script>

    <script type="text/javascript">
        var dbId = '@ViewBag.db_Id';
        var sensorId = '@ViewBag.sensorId';
        var nodeId = '@ViewBag.nodeId';

        var urlStart = @ViewBag.start;
        var urlEnd = @ViewBag.end;

        @if (@ViewBag.autoscroll != null)
        {
            @:$("#autoscroll").val('@ViewBag.autoscroll');
                }

        @if (@ViewBag.style != null)
        {
            @:$("#charttype").val('@ViewBag.style');
                }


    </script>

    <script src="~/js/mynetsensors-history-chart-page.js"></script>
}