@using MyNetSensors.Gateways
@model IEnumerable<MyNetSensors.Gateways.Node>

@{
    ViewBag.Title = "History";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <p>
        < <a asp-controller="Gateway" asp-action="Control">Control Nodes</a>
    </p>
    <div class="ui divider"></div>

    <div style="padding-left: 20px">
        @foreach (Node node in Model)
        {
            <h4>@node.GetSimpleName1()</h4>
            <div style="padding-left: 20px">
                @foreach (Sensor sensor in node.sensors)
                {
                    <a asp-action="Chart" asp-route-id="@sensor.nodeId"  asp-route-id2="@sensor.sensorId">@sensor.GetSimpleName1()</a>
                    <br />
                }
            </div>
        }
    </div>
    
</div>