@using System.Threading.Tasks
@using MyNetSensors.Gateways
@using MyNetSensors.SensorsHistoryRepository
@model List<MyNetSensors.SensorsHistoryRepository.SensorData>

@{
    ViewBag.Title = "Sensor log";
}

<h2>@ViewBag.description History</h2>
<p>
    < @Html.ActionLink("Control Nodes", "Control", "Gateway")
    < @Html.ActionLink("History", "List", "History")
    @Html.ActionLink("Show Chart", "Chart", new { id = ViewBag.nodeId, id2 = ViewBag.sensorId },new {@class="btn btn-default pull-right"})
</p>
<hr />





<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.description History</div>
    <div class="panel-body">

        @if (Model == null)
        {
            @:There are no entries in history. Check node <a href="../../../Node/Settings/@ViewBag.nodeId">settings</a>

        }
        else
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            Date
                        </th>
                        <th scope="col">
                           State
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (SensorData item in Model)
                {
                    <tr>
                        <td>@item.dateTime</td>
                        <td>@item.state</td>
                    </tr>
                }
                </tbody>
            </table>

            <p>
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a class='btn btn-default' href='../../ClearHistoryByDbId/@ViewBag.db_Id'>
                        Clear History
                    </a>
                </div>
            </p>
        }
    </div>
</div>


