@model MyNetSensors.WebController.ViewModels.Config.SerialPortViewModel

@{
    ViewBag.Title = "Serial Gateway";
}

<br />
<div class="ui container">

    <h2>@ViewBag.Title</h2>

    <p>
        < <a asp-action="Index">Config</a>
    </p>
    <div class="ui divider"></div>

    <div class="ui two column stackable centered grid">

        <div class="column">
            <div class="ui raised segments">
                <div class="ui secondary segment">
                    <h4>@ViewBag.Title</h4>
                </div>

                <form asp-action="SerialGateway" asp-anti-forgery="true" class="ui form">
                    <div class="ui attached segment">


                        <h5>Select serial port that is connected to the gateway</h5>
                        <div class="field">
                            <div class="ui buttons">
                                <div class="ui selection button dropdown">
                                    <input type="hidden" name="PortName" value="@ViewBag.currentPort">
                                    <i class="dropdown icon"></i>
                                    @if (String.IsNullOrEmpty(ViewBag.currentPort))
                                    {
                                        <div class="default text">Serial Port</div>
                                    }
                                    else
                                    {
                                        <div class="text">@ViewBag.currentPort</div>
                                    }
                                    <div class="menu">
                                        @foreach (string port in @ViewBag.ports)
                                        {
                                            <div class="item" data-value="@port">@port</div>
                                        }
                                    </div>
                                </div>
                                <a asp-action="SerialPort" class="ui button">Refrash</a>
                            </div>

                        </div>
                        <div class="validation" asp-validation-summary="ValidationSummary.All"></div>

                    </div>

                    <div class="ui center aligned attached segment">
                        <div class="ui buttons">
                            <a asp-action="Index" class="ui button">Cancel</a>
                            <input type="submit" value="Select" class="ui button primary" />
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>










